{% extends "base2.html" %}
{% load static %}
{% block titulo %}Resultados {% endblock %}
{% load ceros_adelante %}

{% block EnlacesPersonalizados %}

    <link rel="stylesheet" href="{% static 'principal/css/estilo.css' %}">

    

    

{% endblock %}

    
{% block contenedor %} <div class="main-body">	
  <div class="container">
      
      
      <div class="row">               
        <div class="main-page">

            <aside class="main-navigation">
                <div class="main-menu">


                    <div class="menu-container">
                        <div class="block-keep-ratio block-keep-ratio-2-1 block-width-full home">                                    
                            <a href="{% url 'principal:index' %}" class="block-keep-ratio__content  main-menu-link">
                                <span class="main-menu-link-text">
                                    INICIO    
                                </span>                                        
                            </a>
                        </div>                                
                    </div>

                    <div class="menu-container">                                
                        <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">                                    
                            <a href="{% url 'resultados:listaResultados' %}" class="main-menu-link about block-keep-ratio__content flexbox-center">
                                <i class="fa fa-user fa-4x main-menu-link-icon"></i>
                                RESULTADOS
                            </a>                                    
                        </div>

                        <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
                            <a href="contact.html" class="main-menu-link contact block-keep-ratio__content flexbox-center">
                                <i class="fa fa-envelope-o fa-4x main-menu-link-icon"></i>
                                CONTACTOS
                            </a>                                
                        </div>    
                    </div>   


                </div> <!-- main-menu -->
            </aside> <!-- main-navigation -->

            

            <div class="content-main">
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        
                        <div class="box bottom-main">
                            <div class="info float-container">
                                <div class="col-sm-12 bottom-title">
                                    <h3 class="text-uppercase">RESULTADOS DEL DIA DE HOY</h3>
                                    <h4 class="text-uppercase"></h4>
                                </div>
                                <div class="row ">

                                    <!--SORTEO 11:00AM-->
                                    {% if resultado11am %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">{% ceros_en_sorteo resultado11am.sorteo %}</p></h1>
                                                <p class="text-uppercase masgrandeTexto">11:00am</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{{resultado11am.animalito.imagen.url}}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">-{{resultado11am.terminal}}</p>
                                                <img src="{{resultado11am.signo.imagen.url}}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% else %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">...</p></h1>
                                                <p class="text-uppercase masgrandeTexto">11:00am</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">...</p>
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% endif %}


                                    <!--SORTEO 12:00PM-->
                                    {% if resultado12pm %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">{% ceros_en_sorteo resultado12pm.sorteo %}</p></h1>
                                                <p class="text-uppercase masgrandeTexto">12:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{{resultado12pm.animalito.imagen.url}}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">-{{resultado12pm.terminal}}</p>
                                                <img src="{{resultado12pm.signo.imagen.url}}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% else %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">...</p></h1>
                                                <p class="text-uppercase masgrandeTexto">12:00am</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">...</p>
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% endif %}

                                    <!--SORTEO 01:00PM-->
                                    {% if resultado01pm %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">{% ceros_en_sorteo resultado01pm.sorteo %}</p></h1>
                                                <p class="text-uppercase masgrandeTexto">01:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{{resultado01pm.animalito.imagen.url}}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">-{{resultado01pm.terminal}}</p>
                                                <img src="{{resultado01pm.signo.imagen.url}}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% else %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">...</p></h1>
                                                <p class="text-uppercase masgrandeTexto">01:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">...</p>
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% endif %}
                                    

                                    <!--SORTEO 04:00PM-->
                                    {% if resultado04pm %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">{% ceros_en_sorteo resultado04pm.sorteo %}</p></h1>
                                                <p class="text-uppercase masgrandeTexto">04:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{{resultado04pm.animalito.imagen.url}}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">-{{resultado04pm.terminal}}</p>
                                                <img src="{{resultado04pm.signo.imagen.url}}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% else %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">...</p></h1>
                                                <p class="text-uppercase masgrandeTexto">04:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">...</p>
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% endif %}

                                    <!--SORTEO 07:00PM-->
                                    {% if resultado07pm %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">{% ceros_en_sorteo resultado07pm.sorteo %}</p></h1>
                                                <p class="text-uppercase masgrandeTexto">07:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{{resultado07pm.animalito.imagen.url}}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">-{{resultado07pm.terminal}}</p>
                                                <img src="{{resultado07pm.signo.imagen.url}}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% else %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">...</p></h1>
                                                <p class="text-uppercase masgrandeTexto">07:00pm</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">...</p>
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% endif %}

                                    <!--SORTEO ESPECIAL-->
                                    {% if resultadoEspecial %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">{% ceros_en_sorteo resultadoEspecial.sorteo %}</p></h1>
                                                <p class="text-uppercase masgrandeTexto">ESPECIAL</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{{resultadoEspecial.animalito.imagen.url}}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">-{{resultadoEspecial.terminal}}</p>
                                                <img src="{{resultadoEspecial.signo.imagen.url}}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% else %}

                                        <div class="margen-personal col-xxs-12  col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
                                            <div class="heading">
                                                <h1>SORTEO:  <p class=" maspequeñoTexto">...</p></h1>
                                                <p class="text-uppercase masgrandeTexto">ESPECIAL</p>
                                            </div>

                                            <div class="cajaPrueba">
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                <p class="text-uppercase parrafoPersonal">...</p>
                                                <img src="{% static 'plantilla_104/images/fondo-default.png' %}" class="ImagenPersonal">
                                                
                                            </div>
                                            
                                                                                
                                        </div>

                                    {% endif %}

                                    
                                    
                                </div>
                                <div class="col-sm-12 location-main"> 
                                    <div class="pull-right bottom-user">
                                        <a href="#"><i class="fa fa-caret-right"></i><span>LEER MAS</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- .content-main -->
        </div> <!-- .main-page -->
    </div> <!-- .row --> 
      
      
      <footer class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
              <p class="copyright">Copyright © 2023 Rejuntao </p>
          </div>    
      </footer>  <!-- .row -->      
  </div> <!-- .container -->
</div> <!-- .main-body -->
            
          
{% endblock %}